@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;600&display=swap');

/* Definição de variáveis */

:root{
  /* Fontes */
  --fonte-principal: "Poppins", sans-serif;
  --fonte-secundaria: "Montserrat", sans-serif;
  /* Paleta de cores */
  --cor-principal: #D67030;
  --cor-secundaria: #000;
  --cor-header: #007373;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
    text-decoration: none;
}




body{
    background-color: #eca070;

}

/* Header */

header{
    background-color: var(--cor-header);
    box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.384);
    margin-bottom: 10px;
}

.doacoes{
    position: absolute;
    display: flex;
    top: 35px;
    left: 90%;
    cursor: pointer;
}

.doacoes{
    background-color: var(--cor-principal);
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    margin: 8px;
    padding: 8px;
}

.doacoes:hover{
    background-color: #63e76a;
}

nav{
    background-color: #cabfbf;
    box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.384);
    margin-bottom: 10px;
}

nav ul {
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    font-size: 17px;
    font-weight: bold;
}

nav a{
    color: #000;
}

nav a:hover{
    color: var(--cor-header);
    text-decoration: underline;
}

/* Section */

.container{
    display: block;
    width: 50%;
    height: 300px;
    background-color: #cabfbf;
    border-radius: 10px;
    margin-left: 30px;
    box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.384);
    margin-bottom: 20px;
}

.container img{
    margin-left: 20px;
    border-radius: 10px;
    margin-top: 10px;
}

.oracao{
    display: block;
    font-size: 25px;
    padding-left: 20px;
    color: #000;
}

.oracao:hover{
    color: #252323;
}


.word{
    display: block;
    font-size: 14px;
    margin-left: 20px;
}

.text {
    position: relative;
    display: block;
    top: -60%;
    left: 50%;
    width: 300px;
}

/* Aside */

.versiculo{
    position: absolute;
    background-color: #D67030;
    border-radius: 10px;
    padding-top: 100%;
    top: 30%;
    left: 55%;
    width: 550px;
    margin: 30px;
    padding: 20px;
    box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.384);
}

.versiculo h2{
    text-align: center;
    font-size: 30px;
}

.versiculo h2:hover{
    color: #252323;
}

/* Footer */

.info{
    display: flex;
    background-color: #007373;
    height: 200px;
    margin-bottom: 10px;
    box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.384);
    
}

.formulario{
    display: block;
    background-color: #cabfbf;
    width: 400px;
    height: 160px;
    margin: 25px;
    margin-top: 25px;
    border-radius: 10px;
}

.formulario input{
    display: block;
    margin: 7px auto;
    padding: 2px;
    font-size: 12px;
    width: 90%;
    border-radius: 10px;
    border: none;
    outline-color: #007373;
}

.formulario .btn-form{
    position: relative;
    margin-left: 100px;
    font-size: 15px;
    font-weight: bold;
    font-family: var(--fonte-principal);
    background-color: #007373;
    border-radius: 10px;
    border: none;
    width: 50%;
    cursor: pointer;
    
}

.formulario .btn-form:hover{
    background-color: #D67030;
}

.formulario h3{
    font-family: var(--fonte-principal);
    text-align: center;
}

.newsletter{
    display: block;
    background-color: #cabfbf;
    width: 400px;
    height: 160px;
    margin: 25px;
    margin-top: 25px;
    border-radius: 10px;

}

.newsletter{
    font-family: var(--fonte-principal);
    text-align: center;
    height: 110px;
    margin-top: 50px;
}

.newsletter input{
    display: block;
    margin: 7px auto;
    margin-top: 10px;
    padding: 5px;
    font-size: 12px;
    width: 90%;
    border-radius: 10px;
    border: none;
    outline-color: #007373;
}

.newsletter .btn-form{
    position: relative;
    margin-left: 10px;
    font-size: 15px;
    font-weight: bold;
    font-family: var(--fonte-principal);
    background-color: #007373;
    border-radius: 10px;
    border: none;
    width: 50%;
    cursor: pointer;  
}

.newsletter .btn-form:hover{
    background-color: #D67030;
}

.sociais{
    display: block;
    background-color: #cabfbf;
    width: 400px;
    height: 100px;
    margin-top: 54px;
    border-radius: 10px;
    text-align: center;
}

.sociais h3{
    font-family: var(--fonte-principal);
    text-align: center;
}



.sociais i{
    font-size: 30px;
    background-color: #007373;;
    color: #fff;
    padding: 10px;
    margin: 3px;
    border-radius: 10px;
    
}

.sociais i:hover{
    color: #D67030;
}

h3:hover{
    color: #252323;;
}

/* Rodapé */

.site{
    background-color: #cabfbf;
}

.site p{
    text-align: center;
    font-family: var(--fonte-principal);
    font-size: 12px;
}


















    

    

