@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;600&display=swap');

/* Definição de variáveis */

:root{
  /* Fontes */
  --fonte-principal: "Poppins", sans-serif;
  --fonte-secundaria: "Montserrat", sans-serif;
  /* Paleta de cores */
  --cor-principal: #D67030;
  --cor-secundaria: #000;
  --cor-header: #007373;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
    text-decoration: none;
}




body{
    background-color: #eca070;

}

/* Header */

header{
    background-color: var(--cor-header);
    box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.384);
    margin-bottom: 10px;
}

.doacoes{
    position: absolute;
    display: flex;
    top: 35px;
    left: 90%;
    cursor: pointer;
}

.doacoes{
    background-color: var(--cor-principal);
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    margin: 8px;
    padding: 8px;
}

.doacoes:hover{
    background-color: #63e76a;
}

nav{
    background-color: #cabfbf;
    box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.384);
    margin-bottom: 10px;
}

nav ul {
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    font-size: 17px;
    font-weight: bold;
}

nav a{
    color: #000;
}

nav a:hover{
    color: var(--cor-header);
    text-decoration: underline;
}


















    

    

